<h2>Search Recipe</h2>

<br />
<form [formGroup]="searchForm" (ngSubmit)="(searchRecipe)">
  <input type="text" id="searchterm" formControlName="searchterm" />

  <label for="mealType">
    Type of meal:
    <select formControlName="mealType">
      <option value="mealType">--Choose a type of meal--</option>
      @for (mealType of mealTypes; track mealType) {
      <option [value]="mealType">{{ mealType }}</option>
      }
    </select>
  </label>

  <label for="cuisineType">
    Food's from around the world:
    <select formControlName="cuisineType">
      <option value="cuisineType">--Choose a part of the world--</option>
      @for (cuisineType of cuisineTypes; track cuisineType) {
      <option [value]="cuisineType">{{ cuisineType }}</option>
      }
    </select>
  </label>

  <label for="dishType">
    Type of dish:
    <select formControlName="dishType">
      <option value="dishType"></option>
      @for (dishType of dishTypes; track dishType) {
      <option [value]="dishType">{{ dishType }}</option>
      }
    </select>
  </label>

  <button (click)="searchRecipe()">Search Recipe</button>
</form>
<!-- Grid container -->
<section
  class="grid justify-center gap-4 grid-cols-1 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 m-2"
>
  @for (recipe of recipes; track recipe) {
  <!-- Recipe Card container -->
  <article class="flex flex-col justify-center border-2 border-gray-500">
    <!-- Label -->
    <h3 class="font-bold mt-4 self-center">{{ recipe.label }}</h3>
    <br />
    <!-- Image container -->
    <div class="self-center w-full h-full">
      <!-- Recipe image -->
      <img
        class="size-full rounded p-4"
        ngSrc="{{ recipe.image }}"
        alt="{{ recipe.label }}"
        width="200"
        height="200"
      />
      <br />
    </div>

    @if (recipe.totalTime != 0) {
    <!-- Cooking time -->
    <p class="ml-2">Time: {{ recipe.totalTime }}</p>
    } @if (recipe.yield) {
    <!-- Yield -->
    <p class="ml-2">Portions: {{ recipe.yield }}</p>
    }

    <button
      class="m-2 col-span-1 lg:col-span-4 md:col-span-3 sm:col-span-2 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
    >
      <a [routerLink]="['/recipe', recipe.self | recipeIdFormatter]"
        >Go to recipe</a
      >
    </button>
  </article>
  } @empty {
  <p>There are no recipes of this kind.</p>
  }
</section>
