<h2>Search Recipe</h2>

<br />
<form [formGroup]="searchForm" (ngSubmit)="(searchRecipe)">
  <input type="text" id="searchterm" formControlName="searchterm" />

  <label for="mealType">
    Type of meal:
    <select formControlName="mealType">
      <option value="mealType">--Choose a type of meal--</option>
      @for (mealType of mealTypes; track mealType) {
      <option [value]="mealType">{{ mealType }}</option>
      }
    </select>
  </label>

  <label for="cuisineType">
    Food's from around the world:
    <select formControlName="cuisineType">
      <option value="cuisineType">--Choose a part of the world--</option>
      @for (cuisineType of cuisineTypes; track cuisineType) {
      <option [value]="cuisineType">{{ cuisineType }}</option>
      }
    </select>
  </label>

  <label for="dishType">
    Type of dish:
    <select formControlName="dishType">
      <option value="dishType"></option>
      @for (dishType of dishTypes; track dishType) {
      <option [value]="dishType">{{ dishType }}</option>
      }
    </select>
  </label>

  <button (click)="searchRecipe()">Search Recipe</button>
</form>

@for (recipe of recipes; track recipe) {
<article>
  <h3>{{ recipe.label }}</h3>
  <div class="recipes-image">
    <img ngSrc="{{ recipe.image }}" alt="{{ recipe.label }}" fill />
  </div>

  @if (recipe.totalTime != 0) {
  <p>Time: {{ recipe.totalTime }}</p>
  } @if (recipe.yield) {
  <p>Portions: {{ recipe.yield }}</p>
  }

  <p>
    <a [routerLink]="['/recipe', recipe.self | recipeIdFormatter]"
      >Go to recipe</a
    >
  </p>
</article>
} @empty {
<p>There are no recipes of this kind.</p>
}
