<p>login works!</p>

@if(!(loggedIn$ | async)?.loginState ) {
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <label for="email">
    E-mail:
    <input
      type="text"
      id="email"
      formControlName="email"
      autocomplete="email"
    />
  </label>

  <label for="password">
    Password:
    <input
      type="password"
      autocomplete="current-password"
      id="password"
      formControlName="password"
    />
  </label>

  <button type="submit">Login</button>
</form>
} @else {
<button (click)="logOut()">Logout</button>

}
